@tailwind base;
@tailwind components;
@tailwind utilities;
body * {
  @apply transition-colors duration-100;
}

@layer base {
  ul,
  ol {
    list-style: revert;
    list-style-position: inside;
  }
}

.div-transparent {
  opacity: 0;
  transition: color 0.3s ease;
}

.div-transparent:hover,
.div-transparent:active {
  opacity: 1;
}
